# Python bytecode
__pycache__/
*.py[cod]
*$py.class

.env/
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

media/
staticfiles/

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace


# PyCharm
*.iml
out/

# Coverage reports
htmlcov/
.coverage

